appnope==0.1.0
backcall==0.2.0
cycler==0.10.0
decorator==4.4.2
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.2.2
numexpr==2.7.1
numpy==1.19.0
pandas==1.0.5
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
sklearn==0.0
statsmodels==0.11.1
threadpoolctl==2.1.0
traitlets==4.3.3
wcwidth==0.2.5
